.banner {
  /* width: 700px;
  height: 300px; */
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 500px;
  width: 100vw;
}

.banner-container {
  margin-left: 150px;
  color: black;
}
.btn-join {
  color: darkgrey;
  background-color: white; /* Green */
  border: 0.5px solid darkgray;
  border-radius: 35px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn-join:hover {
  color: rgb(66, 65, 65);
  background-color: white; /* Green */
  border: 0.5px solid  rgb(77, 21, 21);
  border-radius: 35px;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
